*{
    font-family: 'Montserrat';
}

.hero-section {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    user-select: none;
    width:100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    height:250px;
    width:40%;
    justify-content: space-around;
}

.hero-text h2{
    color:#FF834F;
}

.hero-text a {
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 10px;
    text-decoration: none;
    background-color: #FF834F;
    outline: none;
    border: none;
    border-radius: 5px;
    color:white;
}